<div class="help-hero-unit">

  <div class="pull-left">
    <h1>New to League I/O ?</h1>
  </div>

  <div class="pull-right desc">
    <b>Here's how it works:</b>
    <ol>
      <li>Anybody can ask a question</li>
      <li>Anybody can answer</li>
      <li>The best answers are voted up</li>
    </ol>
  </div>

  <div class="clearfix"></div>
</div>

<div class="_hd_foma">
  <h3>Find out more about...</h3>
</div>

<div class="h_w">

  <div class="_hd">
    <%= link_to help_asking_path do %>
      <%= image_tag("https://s3.amazonaws.com/6invy/new+folder/Assets/help-desk/main/album-main-pic.png") %>
      <b class="hd_b"> Asking  </b>
    <% end %>
  </div>

  <div class="_hd">
    <%= link_to help_answering_path do %>
      <%= image_tag("https://s3.amazonaws.com/6invy/new+folder/Assets/help-desk/main/clip-main-pic.png") %>
      <b class="hd_b"> Answering </b>
    <% end %>
  </div>

  <div class="_hd">
    <%= link_to help_reputation_path do %>
      <%= image_tag("https://s3.amazonaws.com/6invy/new+folder/Assets/help-desk/main/profile-main-pic.png") %>
      <b class="hd_b"> League Points </b>
    <% end %>
  </div>

  <div class="_hd">
    <%= link_to help_account_path do %>
      <%= image_tag("https://s3.amazonaws.com/6invy/new+folder/Assets/help-desk/main/show-main-pic.png") %>
      <b class="hd_b"> My Account </b>
    <% end %>
  </div>

</div>