<div class="row">

  <div class="span9">
    <%= simple_form_for(@question) do |f| %>
      <%= f.error_notification %>

      <%= f.input :title, input_html: { class: 'span5' },
                  placeholder: "What's your Question? Be specific." %>

      <%#= f.input :body, input_html: { :class => "redactor" }, label: false %>

      <%= f.input :body, :as => :ckeditor %>



      <%= f.collection_select :tag_list, Tag.order(:name), :name, :name, {},
                              {multiple: true} %>

      <div class="form-actions">
        <%= f.submit "Post your Question", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>

  <div class="span3">

    <div class="nw_quest_how">
      <p class="big"><b>How to Ask</b></p>
      <br>
      <p class="first" style="text-align: center">
        <b>Is your Question <br>about league of Legends?</b>
      </p>
      <br>
      <p style="text-align: center">
        We prefer questions that can be <i>answered</i>, not just discussed.
      </p>
      <br>
      <p style="text-align: center">Provide details.</p>
    </div>

    <br>

    <div class="nw_quest_links">
      <br>
      <p class="nw_quest_links_hpdesk" style="text-align: center">
        <b><%= link_to help_path do %>
            Visit the Help Desk <span class="fui-arrow-right"></span>
            <% end %>
            </b>
      </p>
      <p class="nw_quest_links_qhp" style="text-align: center">
        <b><%= link_to help_path  do %>
            Asking Help <span class="fui-arrow-right"></span>
            <% end %>
            </b>
      </p>
    </div>

  </div>

</div>
