<% set_meta_tags :title => "#{@question.title}",
                 :description => "#{@question.body}" %>

<%= display_meta_tags :og => {
        :title => "#{@question.title}",
        :description => "#{@question.body}",
        :image => "https://s3.amazonaws.com/leagueio/design/image-meta.png",
        :type  => "website",
        :url => "http://www.leagueio.com"
} %>

<div class="question_title">
  <h1>
    <%= link_to @question.title, @question %>
  </h1>
</div>



<div class="row-fluid">

  <div class="span1">

    <div style="text-align: center;">
        <div class="votebar">
        <ul>
          <li>
            <%= link_to "", upvote_question_path(@question),
                        class: "fui-triangle-up", title: "This Question shows Research effort. It is useful and clear" %>
          </li>
          <li style="color: #bcbcbc; font-weight: bold">
            <%= @question.votes_count %>
          </li>
          <li>
            <%= link_to "", downvote_question_path(@question),
                        class: "fui-triangle-down", title: "This question does not show any research effort; it is unclear or not useful" %>
          </li>
        </ul>
      </div>
    </div>

  </div> <!-- Span 1 End -->

  <div class="span8">

    <div class="qest_inner_boddy">
      <%= sanitize(raw(@question.body)) %>
    </div>



    <!-- Under Question Tags-->
    <div class="question-tags quest_shw">
      <% @question.tags.each do |tag| %>
        <span class="label label-default">
          <%= link_to tag.name, tag_path(tag.name) %>
        </span>
      <% end %>
    </div>

    <div class="quest_uc">
      <div class="pull-left">
        <% if can? :update, @question %>
          <small><%= link_to 'Edit', edit_question_path(@question) %> </small> |
        <% end %>
        <% if can? :destroy, @question %>
          <small><%= link_to 'Delete', @question, :data => { :confirm => "Are you sure you want to delete your Question?" }, method: :delete %></small> &nbsp;
        <% end %>

      </div>
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_google_plusone_share"></a>
      </div>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51e7733c196e2f4b"></script>
      <!-- AddThis Button END -->

      <!-- Question Owner(User) -->
      <div class="pull-right owner">
        <td class="post-signature">


          <div class="user-info ">
            <div class="user-action-time">
              asked <%= time_ago_in_words(@question.created_at) %> ago
            </div>
            <div class="user-avtr32">
              <%= link_to (image_tag(@question.user.avatar(:mini))), @question.user %>
            </div>
            <div class="user-details">
              <%= link_to @question.user.user_name, @question.user %><br>
              <span class="reputation-score" title="reputation score" id="question_owner_reputation_score_<%= @question.id %>">
                <%= @question.user.points %>
              </span>
            </div>
          </div>

        </td>
      </div>
    </div>


  </div> <!-- Span 8 End-->

  <div class="span3">

    <div class="quest_wdgt">
      <b>
        <span class="fui-tag"></span>
        <%= @question.impressionist_count(:filter=>:session_hash) %>
        <% if @question.impressionist_count(:filter=>:session_hash) > 1 %>
          Views
        <% else %>
          View
        <% end %>
      </b>
    </div>

    <br>

    <div class="quest_mr_inf">
      Not the answer you're looking for?
      Browse other questions tagged
      <br>
      <div class="question-tags">
        <br>
        <% @question.tags.each do |tag| %>
        <span class="label label-default">
          <%= link_to tag.name, tag_path(tag.name)%>
        </span>
        <% end %>
      </div>
      <br>
      or  <%= link_to "ask your own question", new_question_path %>
    </div>

  </div> <!-- Span 3 End -->

</div>

<div class="row"><!-- Answers Area -->

  <div class="span9">
    <div class="quest_answrs">
      <% if @question.answers.present? %>
        <ul class="nav nav-tabs">
          <li class="active">
            <a><span class="answers_counter"><%= @question.answers.count %></span>
              &nbsp; &nbsp; Answers</a>
          </li>
        </ul>
      <% else %>
        <ul class="nav nav-tabs">
          <li class="active"><a>No Answers yet</a></li>
        </ul>
      <% end %>
    </div>
  </div>

</div>

<br>

<div class="">
  <%= render @question.answers.order(accepted: :desc, votes_count: :desc)%>
</div>

<% if user_signed_in? %>
  <div class="row">

  <div class="span8">
    <%= simple_form_for([@question, @question.answers.new]) do |f| %>
      <%= f.error_notification %>

      <%= f.input :body, :as => :ckeditor, label: false %>

      <div class="form-actions">
        <%= f.submit "Post your Answer", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>

</div>
<% end %>


