<%#=link_to 'Edit', edit_answer_path(answer) %>
<%#= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %>
<div class="row-fluid">

  <div class="span1">
    <div style="text-align: center;">
      <div class="votebar-question">
        <ul>
          <li>
            <%= link_to "", upvote_question_answer_path(@question, answer),
                        class: "fui-triangle-up" %>
          </li>
          <li style="color: #bcbcbc; font-weight: bold">
            <%= answer.votes_count %>
          </li>
          <li>
            <%= link_to "", downvote_question_answer_path(@question, answer),
                        class: "fui-triangle-down" %>
          </li>
          <% if current_user == @question.user %>
              <li>
                <%= link_to "", accept_toggle_question_answer_path(@question, answer),
                            class: "fui-check" %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="span8">
    <div class="answr_inner_body">
      <%= sanitize(raw(answer.body)) %>
    </div>

    <div class="quest_uc">
      <div class="pull-left" data-no-turbolink="">
          <% if current_user == answer.user %>
          <small><%= link_to 'Edit', edit_question_answer_path(@question, answer) %></small> |
          <small><%= link_to 'Delete', question_answer_path(@question, answer), :data => { :confirm => "Are you sure you want to delete your Question?" }, method: :delete %></small>
          <% end %>
      </div>

      <!-- Question Owner(User) -->
      <div class="pull-right">
        <td class="post-signature owner">


          <div class="user-info ">
            <div class="user-action-time">
              answered <%= time_ago_in_words(answer.created_at) %> ago
            </div>
            <div class="user-avtr32">
              <%= link_to (image_tag(answer.user.avatar(:mini))), answer.user %>
            </div>
            <div class="user-details">
              <%= link_to answer.user.user_name, answer.user %> 
              <span class="reputation-score" title="reputation score">
                <%= answer.user.points %>
              </span>
            </div>
          </div>

        </td>
      </div>
    </div>

    <br style="clear:both" /> <!-- So dirty! -->
    <div class="clear_it_nicely"></div>


  </div>


</div>

