<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/IpPxZh3zR4HjDwgS3Xqupg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
  UserVoice = window.UserVoice || [];
  UserVoice.push(['showTab', 'classic_widget', {
    mode: 'feedback',
    primary_color: '#34495e',
    link_color: '#007dbf',
    forum_id: 225819,
    tab_label: 'Feedback',
    tab_color: '#34495e',
    tab_position: 'bottom-left',
    tab_inverted: false
  }]);
</script>

<div class="site-footer">
  <ul class="site-footer-links right">
    <li><%= link_to "Help", help_path %></li>
    <li><a href="#">About</a></li>

  </ul>

  <%= link_to root_path do %>
    <span class="mega-octicon octicon-mark-github">
      <i class="fui-bubble"></i>
    </span>
  <% end %>

  <ul class="site-footer-links">
    <li>© <%= Time.now.year %> League I/O</li>
    <li><%= link_to "Facebook", "https://www.facebook.com/leagueio", :target => '_blank' %></li>
    <li><%= link_to "Twitter", "https://twitter.com/Leagueio", :target => '_blank' %></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>